<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="paul.cipherresfeber.sarwardelivery">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="paul.cipherresfeber.sarwardelivery.util.App"
        android:allowBackup="true"
        android:icon="@drawable/sarwar_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sarwar_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.RegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.ProfileUpdateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.ForgotPasswordActivity"
            android:screenOrientation="portrait" />

        <service android:name="paul.cipherresfeber.sarwardelivery.services.FirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="paul.cipherresfeber.sarwardelivery.services.BackgroundLocationService" />

        <activity
            android:name="paul.cipherresfeber.sarwardelivery.activities.DonationDetailsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>